.footer {
    padding-top: 3em;
    background:#3A3C45;
    color: lightgray;
}
.footer:nth-child(1){
    margin-top: 2em;
}

.text-white{
    color: whitesmoke
}

.footer .list-unstyled{
    font-size: 0.89em;
}

.footer li{
    margin-bottom: 2px;
}

.footer li:hover a{
    color: white;
}

.footer a{
    transition : 0.3s all;
    color: lightgray ;
}

.small{
   font-size: 0.85em;
}

.copyright{
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .text-desc{
        width: 90%;
        margin: 0 auto;
    }
}
