#wrapper-navigation{
	margin-top: 1.2em;
	margin-bottom: 0.5em;
}

.subnav{
	list-style-type: none;
}

.subnav li{
	margin-top: 5px;
}

.subnav li:hover a{
	color: black;
	font-size: 0.95em;
}

.subnav a{
	font-family: 'Oswald', sans-serif;
	color: rgb(107,108,109);
	font-size: 0.9em;
	text-transform: uppercase;
	padding-bottom: 5px;
	text-decoration: none;
}