#wrapper-navigation{
	margin-top: 1.2em;
	margin-bottom: 0.5em;
}

.subnav{
	list-style-type: none;
}

.subnav li{
	margin-top: 5px;
}

.subnav li:hover a{
	color: black;
	font-size: 0.95em;
	padding-left: 2px;
	border-left: 2px solid orange;
}

.subnav a{
	transition : 0.3s all;
	font-family: 'Oswald', sans-serif;
	color: rgb(107,108,109);
	font-size: 0.9em;
	text-transform: uppercase;
	padding-bottom: 5px;
	text-decoration: none;
}

@media (max-width: 768px) {
	#wrapper-logo{
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: 2px solid black;
	}
	.subnav li{
		margin-top: 10px;
	}
	.subnav a{
		display: block;
		width: 100%;
		font-size: 1em;
	}
	.subnav li:hover a{
		font-size: 1em;
	}
}