#wrapper-search{
	background: linear-gradient(135deg, rgb(204, 89, 0) 0%,rgb(247, 117, 14) 50%,rgb(214, 94, 0) 50%,rgb(187, 93, 19) 100%);
	padding-top: 1em;
	padding-bottom: 3.5em;
}

.triangle-left{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 30px 42.8px 25px 0;
	border-color: transparent white transparent transparent;
}

.triangle-right{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-color: transparent transparent transparent white ;
	border-width: 22px 0 18px 42.8px;
}

#typo{
	font-family: 'Oswald', sans-serif;
	color: white;
	text-align: center;
	font-size: 3.5em;
	margin-bottom: 1.5em;
	margin-top: 1em;
}

#main-searchbar{
	padding: 20px;
	font-size: 1.6em;
	width: 60%;
	border : 0;
	color: rgb(107,108,109);
	outline: none;
}

#searchBtn{
	margin-left: -45px;
	background-color: white;
	border:0;
}

#main-searchbar:focus{
	outline: none;
}

/* Domain-List */

#availableDomains {
	margin-left: 40px;
	margin-top: 15px;
}

.domains{
	list-style-type: none;
}

.domains .form-control {
	width: 100px;
	font-size: 1.25em;
}

.domains .triangle{
	margin-top: 20px;
	-webkit-transform : translateX(29px);
	-moz-transform : translateX(29px);
	transform : translateX(29px);
}

.domains .row{
	margin:0.9em 0;
	background-color: white;
}

.select-form{
	margin-top: 10px;
}

.btn-add{
	margin-top: 4px;
	border: 0;
	-webkit-transform : translateX(50px);
	-moz-transform : translateX(50px);
	transform : translateX(50px);
}